/* ==========================================================================
   #STYLES
   ========================================================================== */


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  margin:2rem;
}

header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33154F;
  color: #11D771;
  margin-bottom: 30px;
}

.buttons {
  text-align: center;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  outline: 0;
}

.trigger-push {
  background-color: #073525;
}

/* pour les posts */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 0;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  overflow: hidden;
}
.card-avatar {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card-title {
  color: #073525;;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
}
.card-link {
  text-decoration: none;
  background: #073525;
  padding: 0.3rem 1rem;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
}
.intro {
  color: #c2c5c5;
  padding: 10px;
}
.active {
  color: #073525;
}
